@import "tailwindcss";

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

@layer base {
    html, body {
        height: 100%;
    }

    .page {
        @apply flex flex-col h-full
    }

    * {
        margin: 0;
        padding: 0;
        line-height: 100%;
        font-size: 1rem;
        font-weight: normal;
    }
}

@layer components {
    .page_item {
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
        font-size: 13px;
        width: 220px;
        height: 140px;
        line-height: calc(140px - 20px);
        text-align: center;
        padding: 10px;
        color: white;
        background: #2d4c67;
        border-radius: 10px;
        box-shadow: 0 0 6px 6px rgba(75, 75, 75, .3);
        cursor: pointer;
    }

    .page_item:hover {
        box-shadow: 0 0 6px 6px rgba(75, 75, 75, 0.5);
    }

    .page_status {
        position: absolute;
        transform: rotate(-45deg);
        left: -20px;
        top: 10px;
        letter-spacing: 0;
        font-size: 12px;
        width: 80px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        overflow: hidden;
        box-shadow: 0 3px 3px 2px rgba(0, 0, 0, .4);
    }
}
